<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="alert alert-danger" *ngIf="authenticationError">
      Password reset error!
    </div>
  </div>
  <div class="col-md-8">
    <form class="form" role="form" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label class="username-label" for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Email"
               [(ngModel)]="email">
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
